<section>
  <h2>Login</h2>
  <div class="">
    <form action="/login" method="post">
      <fieldset class="login form-group">
        <input type="text" placeholder="username" name="username"/><br />
        <input type="password" placeholder="password" name="password"/><br />
        <input type="submit" class="btn btn-sm btn-primary" value="Log In"/>
      </fieldset>
    </form>
  </div>
  <div class="">
    <a class="btn btn-social btn-facebook" href="/auth/facebook">
      <span class="fa fa-facebook"></span>Login with Facebook
    </a><br />
    <a class="btn btn-social btn-google" href="/auth/google">
      <span class="fa fa-google"></span>Login with Google
    </a>
    <div>
      <small><a href="users/forgot">Forgot</a> your password?</small>
    </div> 
  </div>
</section>