<section class="col-sm-12">
  <h3>Reset your password</h3>

    <form action="" method="post" id="resetPassword">
      <fieldset class="login form-group">
        <p>You can now reset your password using the form below. Please enter the email associated with your account, and choose a new password (minimum 8 characters).</p>      
        <input type="email" class="form-control" placeholder="email" value="" required autocomplete="off" id="resetemail" name="email" />
        <div class="form-inline">
          <input type="password" class="form-control" placeholder="new password (min 8 chars)" value="" pattern=".{8,}" required autocomplete="off" id="resetpwd" name="pwd" /><span id="password-val" class="intrainput"></span>       
          <input type="password" class="form-control" placeholder="repeat password" required pattern=".{8,}" autocomplete="off" id="rpt" name="rpt" /><span id="rpt-val" class="intrainput"></span>
        </div>
        <input type="submit" id="reset-submit" disabled="disabled" class="form-control btn btn-primary" value="Update" />      
      </fieldset>
    </form>
</section>