<div class="container-fluid">
  <footer class="row">
    <div class="col-sm-3 offset-sm-2">
      <h5>GAMES</h5>
      <ul>
        <li><a href="/pages/about">GENERAL</a></li>
        <li><a href="/pages/goalmine">GOALMINE</a></li>
        <li><a href="/pages/tipping">TIPPING</a></li>
        <li>KILLER</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h5>DATA</h5>
      <ul>
        <li><a href="/standings">STANDINGS</a></li>
        <li><a href="/weeks">WEEKS</a></li>
        <li><a href="/teams">TEAMS</a></li>
        <li><a href="/leagues">LEAGUES</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <p>Goalmine v{{ pkg.version }} <em>({{ pkg.name }})</em></p>
      <p>Goalmine Pot: <span id="potamt"></span></p>
    </div>      
  </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/js/vendor/jquery.easy-autocomplete.min.js"></script>
<script src="/js/main.js"></script>
<script>
  $(document).ready(function() {
    $.get({
      url: '/pot'
    }).success(function(p) {
      $('#potamt').text(p);
    }).fail(function(e) {
      $('#potamt').text('Couldn\`t retrieve pot');
    })
  })
</script>