<div class="container-fluid">
  <footer class="row">
    <div class="col-sm-3 offset-sm-2">
      <h5>Games</h5>
      <ul>
        <li><a href="/pages/about">General</a></li>
        <li><a href="/pages/goalmine">Goalmine</a></li>
        <li><a href="/pages/tipping">Tipping</a></li>
        <li>Killer</li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h5>Data</h5>
      <ul>
        <li><a href="/weeks">Weeks</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/leagues">Leagues</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <p>Goalmine v{{ pkg.version }} ({{ pkg.name }})</p>
    </div>      
  </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/js/vendor/jquery.easy-autocomplete.min.js"></script>
<script src="/js/main.js"></script>
