<!DOCTYPE html>
<html lang="en">
  {{>head }}
  <body>
    {{>flash }}
    {{>banner }}
    <div role="main container" class="backdrop">
      <div class="logo">
        <img src="/img/gm_logo_opt.svg" alt="Goalmine 2017 Logo" title="Goalmine 2017">
      </div>
      {{{ body }}}
    </div>
    {{>footer }}
  </body>
</html>