/*@import url(normalize.min.css);*/
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
@import url(easy-autocomplete.min.css);
@import url(//cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css);
@import url(bootstrap-social.css);
@import url(https://cdn.datatables.net/v/dt/dt-1.10.15/fc-3.2.2/datatables.min.css);
body {
  background-color: #f4f4ff; }

section {
  background-color: #edf3ff; }

footer {
  background-color: #333333;
  color: #ccc;
  min-height: 2em; }

h2, h3 {
  padding: 1em 0;
  text-align: center; }

h4 {
  text-align: center; }

.btn-odds {
  width: 4.3rem; }

.btn-odds.active {
  background-color: #f29a02;
  border-color: #e89402; }

.logo {
  padding: 3rem 0; }
  .logo img {
    height: 14rem;
    width: 14rem;
    display: block;
    margin: 0 auto; }

.alert {
  margin-bottom: 0; }

.panel {
  background-color: #333333;
  color: #ccc;
  font-size: 1.1em;
  padding: 0.8rem; }

.banner {
  background-color: #222;
  color: #fff;
  padding: 0.5em;
  margin: 0; }

.backdrop {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/stadium.jpg);
  padding: 0;
  min-height: 20em; }

.dev {
  background-color: #f33; }

.header {
  background-color: #00b; }

.joker {
  background: url("/img/joker_icon.png") no-repeat right top; }

.pts1, .pts2 {
  background-color: #f99; }

.pts3, .pts6 {
  background-color: #ffde01; }

.pts5, .pts10 {
  background-color: #4dff4d; }

input.score {
  width: 3em; }

@keyframes fin {
  from {
    background-color: #7f7; }
  to {
    background-color: #e8e8e8; } }

@-webkit-keyframes fin {
  from {
    background-color: #7f7; }
  to {
    background-color: #e8e8e8; } }

.ajaxChange {
  animation-name: fin;
  animation-duration: 2s;
  -webkit-animation-name: fin;
  -webkit-animation-duration: 2s; }

.disableRow td {
  background-color: #eee;
  font-style: italic; }

td.err {
  color: #f00; }

.grid .flag {
  display: table-cell; }

.grid td, .grid th {
  height: 35px;
  min-width: 35px;
  font-size: 0.9rem;
  border: 1px solid #222 !important;
  padding: 0;
  line-height: 0;
  text-align: center;
  vertical-align: middle !important;
  padding: 0 0.3em; }

.grid span {
  padding-left: 30px;
  padding-right: 8px;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis; }

.grid input[type="text"] {
  width: 3em;
  padding: 2px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 0;
  display: inline !important; }

.grid input[type="radio"] {
  display: inline !important;
  margin-bottom: 0; }

.grid-header {
  white-space: nowrap;
  padding: 0 0.5em !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px !important; }

.form-group {
  margin: 0 auto;
  width: 50em;
  max-width: 50%; }
  .form-group .form-control {
    font-size: 1.5em; }

/* Posts */
.post {
  background-color: #f8f8ff;
  border: 1px solid #555;
  box-shadow: 2px;
  width: 60%;
  color: #333338;
  margin: 1em auto; }
  .post h4 {
    font-size: 1.2em; }
  .post h2 {
    font-size: 1.4em; }
  .post .postbody {
    padding-left: 0.5em; }
  .post .postheader {
    padding: 0.3em;
    border-bottom: 1px solid #555; }
  .post .postfooter {
    padding: 0.5em;
    background-color: #555;
    color: #eee;
    font-size: 0.85em; }
    .post .postfooter p {
      margin: 0; }
    .post .postfooter span > span:hover {
      cursor: pointer; }

textarea, #postPreviewPane {
  width: 100%;
  min-height: 12em;
  background-color: #f3f3f3;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0.75rem;
  font-size: 1rem; }

fieldset.login {
  margin: 0 auto 2rem;
  width: 40em;
  max-width: 50%; }
  fieldset.login .form-control {
    padding: 0.75rem 1.5rem;
    margin: 0.25rem;
    font-size: 2rem; }
